<table class="gridtable">
  <caption>请仔细确认以下订单信息是否正确，提交后不可修改</caption>
  <thead>
    <tr>
      <th style="width:40%">
        商品信息
      </th>
      <th style="width:20%">
        数量
      </th>
      <th style="width:10%">
        金额
      </th>
      <th style="width:10%">
        运费
      </th>
      <th style="width:20%">
        货到付款
      </th> 
    </tr>
  </thead>
</table>

<div id="modal_inner_content" >
</div>

<div class="panel-footer sku-panel-footer">
  <button  data-save="<{url action=topshop_ctl_trade_phoneorder@save}>" type="button" class="btn btn-primary phone_confirm_save">确定</button>&nbsp;&nbsp;
  <button type="button" class="btn btn-default action-cancel" data-dismiss="modal">取消</button>
</div>
