<ul>
    <li class="active">
        <a href="/">
            <img src="/public/images/footer01.png"/>
            <p>首页</p>
        </a>
    </li>
    <li>
        <a href="assort">
            <img src="/public/images/footer002.png"/>
            <p>分类</p>
        </a>
    </li>
    <li>
        <a href="shopcar">
            <img src="/public/images/footer003.png"/>
            <p>购物车</p>
        </a>
    </li>
    <li>
        <a href="self">
            <img src="/public/images/footer004.png"/>
            <p>个人中心</p>
        </a>
    </li>
</ul>
