{{range .}}
<dl>
    <dt>
        <time>2015-11-15 22:55:59</time>
        <span>待发货{{.Title}}</span>
    </dt>
    <ul>
        <a href="detail.html">
            <figure><img src="/public/images/classify-ph03.png"/></figure>
            <li>
                <p>超级大品牌服装，现在够级大品牌服装，现在够买只要998</p>
                <small>颜色：经典绮丽款</small>
                <span>尺寸：XL</span>
                <b>￥32.00</b>
                <strong>×3</strong>
            </li>
        </a>
    </ul>
    <dd>
        <h3>商品总额</h3>
        <i>￥98.00</i>
    </dd>
    <dd>
        <input type="button" value="确认收货" class="order-que"/>
        <input type="button" value="查看物流" onclick="javascript:location.href='wuliu.html'" />
        <input type="button" value="取消订单" />
    </dd>
</dl>
{{end}}
