{{range .}}
<dl>
    <dt>
        <time>{{.CreatedAt}}</time>
        <span>{{.Status}}</span>
    </dt>
    <ul>
        <a href="detail.html">
            <figure><img src="{{.ImagePath}}"/></figure>
            <li>
                <p>{{.Title}}</p>
                <small>颜色：经典绮丽款</small>
                <span>尺寸：XL</span>
                <b>￥{{.Price}}</b>
                <strong>×3</strong>
            </li>
        </a>
    </ul>
    <dd>
        <h3>商品总额</h3>
        <i>￥98.00</i>
    </dd>
    <dd>
        <input type="button" value="确认收货" class="order-que"/>
        <input type="button" value="查看物流" onclick="javascript:location.href='wuliu.html'" />
        <input type="button" value="取消订单" />
    </dd>
</dl>
{{end}}
